<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">

      <div class="panel panel-default push-top">
        <div class="panel-body">

          <div class="row">
              <div class="col-sm-3 col-xs-12">
                <%= image_tag('sample_avatar.jpg', class: 'img-responsive img-circle') %>
              </div>
              <div class="col-sm-9 col-xs-12">
                <h3><%= @user.email %><br> <small>Member Since <%= @user.created_at.strftime("%B %d, %Y") %></small></h3>
                <hr>
                <p class="lead">
                  <%= @user.comments.count %> total comments <br>
                  <%= @user.comments.where(rating: '5_stars').count %> five-star ratings
                </p>
              </div>
          </div>

        </div>
      </div>

      <h2 class="text-center">My Comments</h2>

      <hr>

      <% if @user.comments.present? %>
        <% @user.comments.each do |comment| %>
          <div class="media push-bottom">
            <div class="media-left media-middle">
              <img src="http://placehold.it/64x64" alt="Placeholder" class="media-object">
            </div>
            <div class="media-body">
              <h4 class="media-heading"><strong><%= link_to comment.place.name, place_path(comment.place) %> <span class="label label-info"><%= comment.human_rating if comment.human_rating.present? %></span></h4>
              <p><%= comment.message %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="lead">You have no comments yet!</p>
      <% end %>

    </div>
  </div>
</div>
