<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">

      <div class="panel panel-default push-top">
        <div class="panel-body">

          <div class="row">
              <div class="col-sm-3 col-xs-12">
                <%= image_tag('sample_avatar.jpg', class: 'img-responsive img-circle') %>
              </div>
              <div class="col-sm-9 col-xs-12">
                <h3><%= @user.email %><br> <small>Member Since <%= @user.created_at.strftime("%B %d, %Y") %></small></h3>
                <hr>
                <p class="lead">
                  <%= @user.comments.count %> total comments <br>
                  <%= @user.comments.where(rating: '5_stars').count %> five-star ratings
                </p>
              </div>
          </div>

        </div>
      </div>

      <h2 class="text-center">My Comments</h2>

      <hr>

      <% if @user.comments.present? %>
        <% @user.comments.each do |comment| %>
          <div class="media push-bottom">
            <div class="media-left media-middle">
              <img src="http://placehold.it/64x64" alt="Placeholder" class="media-object">
            </div>
            <div class="media-body">
              <h4 class="media-heading"><strong><%= link_to comment.place.name, place_path(comment.place) %> <span class="label label-info"><%= comment.human_rating if comment.human_rating.present? %></span></h4>
              <p><%= comment.message %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="lead">You have no comments yet!</p>
      <% end %>

      <h2 class="text-center">My Places</h2>

      <hr>

      <% if @user.places.present? %>
      <% @user.places.each do |place| %>

        <% has_images = place.photos.present? %>

        <div class="panel panel-default place-box">
          <div class="panel-heading"><h3><%= link_to(place.name, place_path(place)) %></h3></div>
          <div class="panel-body">

            <div class="row">
              <div class="<% if has_images %> col-sm-4 <% end %> col-xs-12">
                <%= link_to place_path(place) do %>
                  <% if place.photos.present? %>
                    <%= image_tag place.photos.first.photo, class: 'img-responsive img-thumbnail' %>
                  <% end %>
                <% end %>
              </div>
              <div class="<% if has_images %> col-sm-8 <% end %> col-xs-12">
                <p><em><%= place.address %></em></p>
                <p class="lead"><%= place.description %></p>
              </div>
            </div>

            <% if place.comments.present? %>
              <div class="media">
                <div class="media-left media-middle">
                  <img src="http://placehold.it/64x64" alt="Placeholder" class="media-object">
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><strong><%= place.comments.first.user.email %></strong> says <span class="label label-info"><%= place.comments.first.human_rating if place.comments.first.human_rating.present? %></span></h4>
                  <p><%= place.comments.first.message %></p>
                </div>
              </div>
            <% end %>

          </div>
          <div class="panel-footer">
            <% if place.user.present? %>
              <small class="pull-right">Added by <%= place.user.email %></small>
              <div class="clearfix"></div>
            <% end %>
          </div>
        </div>
        <% end %>
      <% else %>
        <p class="lead">You haven't created any places yet!</p>
      <% end %>

    </div>
  </div>
</div>
