<div id="homepage-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "donuts.jpg", class: 'img-responsive' %>
      <div class="carousel-caption">
        <h2>Sweet Tooth?</h2>
        <p>Go on a quest for the most delicious donuts you've ever tasted.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "chicken.jpg", class: 'img-responsive' %>
      <div class="carousel-caption">
        <h2>Nothing Like Fried Chicken</h2>
        <p>Find the best local fry shops for some good ol' cholesterol.</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#homepage-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#homepage-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!--.homepage-carousel-->

<div class="container">

  <div class="row">
    <div class="col-sm-8 col-xs-12">
      <% unless @places.empty? %>
        <% @places.each do |place| %>

        <% has_images = place.photos.present? %>

        <div class="panel panel-default place-box">
          <div class="panel-heading"><h3><%= link_to(place.name, place_path(place)) %></h3></div>
          <div class="panel-body">

            <div class="row">
              <div class="<% if has_images %> col-sm-4 <% end %> col-xs-12">
                <%= link_to place_path(place) do %>
                  <% if place.photos.present? %>
                    <%= image_tag place.photos.first.photo, class: 'img-responsive img-thumbnail' %>
                  <% end %>
                <% end %>
              </div>
              <div class="<% if has_images %> col-sm-8 <% end %> col-xs-12">
                <p><em><%= place.address %></em></p>
                <p class="lead"><%= place.description %></p>
              </div>
            </div>

            <% if place.comments.present? %>
              <div class="media">
                <div class="media-left media-middle">
                  <img src="http://placehold.it/64x64" alt="Placeholder" class="media-object">
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><strong><%= place.comments.first.user.email %></strong> says <span class="label label-info"><%= place.comments.first.human_rating if place.comments.first.human_rating.present? %></span></h4>
                  <p><%= place.comments.first.message %></p>
                </div>
              </div>
            <% end %>

          </div>
          <div class="panel-footer">
            <% if place.user.present? %>
              <small class="pull-right">Added by <%= place.user.email %></small>
              <div class="clearfix"></div>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>

      <%= will_paginate @places, renderer: BootstrapPagination::Rails %>
    </div>

    <div class="col-sm-4 col-xs-12">
      <h3>Find Your New Favorite Hometown Restaurant</h3>
      <p>Use the user ratings and comments on here to pick a place for date night or for hamburger alcatra cupim pork loin boudin short ribs andouille pastrami flank. Short loin fatback pastrami drumstick venison boudin kielbasa doner pork loin biltong chicken ham ball tip ham hock rump.</p>
    </div>
  </div>

  <div class="row">

  </div>
</div>
